.cards-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha */
    justify-content: center; /* Centraliza os cards horizontalmente */
    gap: 5%; /* Define o espaçamento entre os cards */
    margin-top: 5%;
    color: green;
    margin-right: 20%;
    margin-left: 20%;
  }
  
  .card {
    margin-bottom: 20px; /* Adiciona espaço entre as linhas de cards */
  }
  
  
  .card {
    margin-bottom: 20px; /* Adiciona margem entre os cards */
    color: white;
    background-color: rgb(13, 48, 13);
  }
  
  

.btn-custom {
    background-color: white; /* Define o fundo como branco */
    color: rgb(13, 48, 13);; /* Define a cor do texto como verde escuro */
    border-color: rgb(13, 48, 13);; /* Define a cor da borda como verde escuro */
  }
  
  /* Estilos personalizados para o texto do botão quando hover */
  .btn-custom:hover {
    background-color: #247524; /* Altera o fundo para verde escuro quando hover */
    color: white; /* Altera a cor do texto para branco quando hover */
  }