



.cards-container #Title {
  color: rgb(6, 231, 6); /* Define a cor do título como verde */
}


/* Footer */

.footer {
  background-color: #0d300d;
  color: #fff;
  padding: 40px 0;
}

.footer h5 {
  color: #fff;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #fff;
}

.footer form {
  margin-top: 20px;
}

.footer form input[type="email"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.footer form button {
  width: 100%;
}

/* Banner */

.banner img {
  max-width: 100%; /* Define o tamanho máximo como 100% da largura do contêiner */
  height: auto; /* Mantém a proporção da imagem */
}


/*Barra*/

.bg-success {
  height: 500px; /* Altere o valor conforme necessário */
}

.bg-success h5 {
  text-align:justify; 
  margin-right: 20px; /* Adiciona uma margem direita de 20 pixels */
  padding: 15%;
  margin-left: 40%;
  margin-top: -9%;
}

/*Barra*/
.Fofo {
  width: 500px; /* Defina a largura desejada */
  height: auto; /* Mantém a proporção original da imagem */
  margin-top: -42%;
  margin-right: 30%;
}

#Title{
  color: black;
}

.custom-card {
  border: 2px solid #ccc; /* Aumenta a largura da borda para 2px */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  height: 150px;
  width: 982px !important;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 5px); /* Aqui você ajusta a sombra conforme necessário */
}

.custom-card-body {
  padding: 20px;
}

.custom-card-title {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  top: 17px;
  color:#137513;
}

.custom-card-text {
  font-size: 16px;
}

.custom-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #137513;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.custom-btn:hover {
  background-color: #137513;
}


.button {
  width: 300px; /* Largura dos botões */
  height: 300px;
  padding: 10px; /* Espaçamento interno dos botões */
  margin-bottom: 10px; /* Espaçamento entre os botões */
  background-color: #137513; /* Cor de fundo dos botões */
  color: white; /* Cor do texto dos botões */
  border: none; /* Remove a borda dos botões */
  cursor: pointer; /* Altera o cursor quando passa por cima dos botões */
  margin: 0 10px;
  margin-top: 5%;
  margin-bottom: 80px ;
  font-size: 50px;
  font-weight: bolder;
  justify-content: left;
}

.button:hover {
  background-color: #072503; /* Cor de fundo quando hover */
}

.gatito{
  
  background-color: #0d300d;
}

.navbar-cadastros{
 
  left: -50px; /* Mova o elemento 50 pixels para a esquerda */
  
}

/* Estilize os links do menu */
.nav-link {
  color: rgb(13, 48, 13);
  /* Outras estilizações conforme necessário */
}

.button-group{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 45px;
  margin-top: 50px;
  margin-bottom: 55px;
  opacity: 90%;
}

.button-group > div {
  width: 300px;
  height: 300px;
}

.gatito img,
.coisa-fofa img,
.Algum img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Para garantir que a imagem cubra todo o espaço disponível */
}

.textoGato {
  position: absolute;
  top: 100px;
  left: 607px;
  transform: translateX(-50%); /* Para centralizar o texto horizontalmente */
  color: white;
  font-weight: bold;
}

.textoGatenho{
  position: absolute;
  top: 100px;
  left: 935px;
  transform: translateX(-50%); /* Para centralizar o texto horizontalmente */
  color: white;
  font-weight: bold;
}

.textoCachorro{
  position: absolute;
  top: 100px;
  left: 1294px;
  transform: translateX(-50%); /* Para centralizar o texto horizontalmente */
  color: white;
  font-weight: bold;
}

.navbar-nav.mr-auto .nav-link {
  left: 2000px; /* Ajuste conforme necessário */
}