.cards-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha */
  justify-content: center; /* Centraliza os cards horizontalmente */
  gap: 5%; /* Define o espaçamento entre os cards */
  margin-top: 5%;
  color: green;
  margin-right: 20%;
  margin-left: 20%;
}

.card {
  margin-bottom: 20px; /* Adiciona espaço entre as linhas de cards */
}


.card {
  margin-bottom: 20px; /* Adiciona margem entre os cards */
  color: white;
  background-color: rgb(13, 48, 13);
}

.btn-custom {
  background-color: white; /* Define o fundo como branco */
  color: rgb(13, 48, 13);; /* Define a cor do texto como verde escuro */
  border-color: rgb(13, 48, 13);; /* Define a cor da borda como verde escuro */
}

/* Estilos personalizados para o texto do botão quando hover */
.btn-custom:hover {
  background-color: #247524; /* Altera o fundo para verde escuro quando hover */
  color: white; /* Altera a cor do texto para branco quando hover */
}

/*nav*/

.logo {
  display: flex;
}

.logo img {
  max-width: 10%; /* Define a largura máxima da imagem da logo */
  height: 10%; /* Permite que a altura seja ajustada automaticamente mantendo a proporção */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Defina um valor alto para a propriedade z-index */
  background-color: rgb(13, 48, 13); /* Define a cor de fundo da barra de navegação como verde */
}




.logo {
  position: absolute; /* Define a posição absoluta para a logo */
  top: -3%; /* Alinha a logo ao topo */
  margin-left: -10%; /* Alinha a logo à esquerda */
  
}

.logo img {
  width: 1500px; /* Defina a largura desejada para a imagem da logo */
  height: auto; /* Permite que a altura seja ajustada automaticamente mantendo a proporção */
}




/*Navbar texto branco*/
.navbar-brand,
.nav-link {
    color: white !important;
}




/* Estilos para o botão de Cadastro */
#btnCadastro {
  display: inline-block; /* Exibe o botão como um bloco inline */
  padding: 8px 16px; /* Define o preenchimento interno do botão */
  background-color: white; /* Define a cor de fundo do botão como branca */
  border: 1px solid rgb(13, 48, 13); /* Adiciona uma borda sólida verde ao redor do botão */
  border-radius: 5px; /* Arredonda as bordas do botão */
  text-decoration: none; /* Remove a decoração de texto padrão */
  color: rgb(13, 48, 13) !important; /* Define a cor do texto do botão como verde */
  margin-top: 8%;
}

/* Efeito de hover para o botão de Cadastro */
#btnCadastro:hover {
  background-color: rgb(142, 145, 142); /* Altera a cor de fundo ao passar o mouse sobre o botão */
  color: white; /* Altera a cor do texto para branco */
  margin-top: 8%;
}

/* Estilos de foco para o botão de Cadastro */
#btnCadastro:focus {
  outline: none; /* Remove o contorno ao focar no botão */
  box-shadow: 0 0 0 2px rgba(13, 48, 13, 0.5); /* Adiciona uma sombra ao redor do botão */
  margin-top: 8%;
}

/* Estilos para o botão de Login */
#btnLogin {
  display: inline-block; /* Exibe o botão como um bloco inline */
  padding: 8px 16px; /* Define o preenchimento interno do botão */
  background-color: white; /* Define a cor de fundo do botão como branca */
  border: 1px solid rgb(13, 48, 13); /* Adiciona uma borda sólida verde ao redor do botão */
  border-radius: 5px; /* Arredonda as bordas do botão */
  text-decoration: none; /* Remove a decoração de texto padrão */
  color: rgb(13, 48, 13) !important; /* Define a cor do texto do botão como verde */
  margin-top: 10%;
}

/* Efeito de hover para o botão de Login */
#btnLogin:hover {
  background-color: rgb(142, 145, 142); /* Altera a cor de fundo ao passar o mouse sobre o botão */
  color: white; /* Altera a cor do texto para branco */
  margin-top: 10%;
}

/* Estilos de foco para o botão de Login */
#btnLogin:focus {
  outline: none; /* Remove o contorno ao focar no botão */
  box-shadow: 0 0 0 2px rgba(13, 48, 13, 0.5); /* Adiciona uma sombra ao redor do botão */
  margin-top: 10%;
}

/* Espaçamento entre os botões */

#btnCadastro {
  margin-right: 20px; /* Ajuste o valor conforme necessário */
  color: rgb(13, 48, 13) !important; /* Mantém a cor do texto como verde */
}

#btnLogin {
  margin-right: 20px; /* Ajuste o valor conforme necessário */
  color: rgb(13, 48, 13) !important; /* Mantém a cor do texto como verde */
}



/* Footer */

.footer {
  background-color: #0d300d;
  color: #fff;
  padding: 40px 0;
}

.footer h5 {
  color: #fff;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #fff;
}

.footer form {
  margin-top: 20px;
}

.footer form input[type="email"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.footer form button {
  width: 100%;
}

/* Banner */

.banner img {
  max-width: 100%; /* Define o tamanho máximo como 100% da largura do contêiner */
  height: auto; /* Mantém a proporção da imagem */
}


/*Barra*/

.bg-success {
  height: 500px; /* Altere o valor conforme necessário */
}
